<a href="https://colab.research.google.com/github/jmatt724/KNNClassification/blob/main/KNNClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/loan_data.csv")
data.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252000 entries, 0 to 251999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 252000 non-null  int64
 1   Income             252000 non-null  int64
 2   Age                252000 non-null  int64
 3   Experience         252000 non-null  int64
 4   Married/Single     252000 non-null  object
 5   House_Ownership    252000 non-null  object
 6   Car_Ownership      252000 non-null  object
 7   Profession         252000 non-null  object
 8   CITY               252000 non-null  object
 9   STATE              252000 non-null  object
 10  CURRENT_JOB_YRS    252000 non-null  int64
 11  CURRENT_HOUSE_YRS  252000 non-null  int64
 12  Risk_Flag          252000 non-null  int64
dtypes: int64(7), object(6)
memory usage: 25.0+ MB

In [ ]:
data.isnull().sum()

Id                   0
Income               0
Age                  0
Experience           0
Married/Single       0
House_Ownership      0
Car_Ownership        0
Profession           0
CITY                 0
STATE                0
CURRENT_JOB_YRS      0
CURRENT_HOUSE_YRS    0
Risk_Flag            0
dtype: int64

In [ ]:
features = ['Married/Single', 'Car_Ownership', 'Profession', 'CITY', 'STATE']

label_encoder = LabelEncoder()
for col in features:
  data[col] = label_encoder.fit_transform(data[col])

In [ ]:
data = pd.get_dummies(data, columns = ["House_Ownership"])
data.drop(["Id"],axis=1,inplace=True)

In [ ]:
X = data.drop(['Risk_Flag'],axis=1)
y = data.Risk_Flag
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
for i in range(1, 20):
  model = KNeighborsClassifier(n_neighbors=i,metric='minkowski',p=2)
  model.fit(X, y)
  y_pred = model.predict(X_test)
  accuracy = model.score(X_test, y_test)
  print(f'K: {i} with Accuracy: {accuracy}')

K: 1 with Accuracy: 0.926031746031746
K: 2 with Accuracy: 0.9017989417989418
K: 3 with Accuracy: 0.9048809523809523
K: 4 with Accuracy: 0.9021296296296296
K: 5 with Accuracy: 0.9017592592592593
K: 6 with Accuracy: 0.901084656084656
K: 7 with Accuracy: 0.9007010582010582
K: 8 with Accuracy: 0.9008068783068783
K: 9 with Accuracy: 0.8998677248677248
K: 10 with Accuracy: 0.9008730158730158
K: 11 with Accuracy: 0.8996164021164021
K: 12 with Accuracy: 0.9009656084656085
K: 13 with Accuracy: 0.8988095238095238
K: 14 with Accuracy: 0.9000661375661375
K: 15 with Accuracy: 0.8981878306878307
K: 16 with Accuracy: 0.8996693121693121
K: 17 with Accuracy: 0.898531746031746
K: 18 with Accuracy: 0.8996560846560847
K: 19 with Accuracy: 0.8984656084656084

In [ ]:
print(confusion_matrix(y_test, y_pred))

[[61785  4516]
 [ 3160  6139]]

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.93      0.94     66301
           1       0.58      0.66      0.62      9299

    accuracy                           0.90     75600
   macro avg       0.76      0.80      0.78     75600
weighted avg       0.91      0.90      0.90     75600